{% extends 'home/base.html' %}

{% block import %}
    {% load static %}
{% endblock %}

{% block title %}{{user.username}}{% endblock %}

{% block body %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <div class="col-xs-1">
                        <!--<img src="../../../media/human.png" alt="Human photo" align="left">-->
                        {% load staticfiles %}
                        <img src="{% static 'home/human.png' %}" alt="Human photo"/>
                    </div>
                    <h1>{{user.username}}</h1>
                    <h3>{{user.first_name}} {{user.last_name}}</h3>
                    <h4>{{user.email}}</h4>
                </div>
            </div>
        </div>
    </div>

    {% for post in user.post_set.all %}
        <div class="container">
            <div class="panel panel-body panel-danger">
                <div class="page-header">
                    <h3>{{ post.caption }}</h3>
                    <p>{{ post.date|date:"Y-m-d" }}</p>
                </div>
                <div class="container">
                    <p>{{ post.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}